* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  overscroll-behavior: none;
}

body {
  font-family: 'Newsreader', serif;
  line-height: 1.35;
  color: #2d2926;
  min-height: 100vh;
  background-color: #f4ede4;
  background-image: url("https://www.transparenttextures.com/patterns/parchment.png");
  overflow-x: hidden;
}
